
@if (User.IsInRole("Admin"))
{
    <div>
        <h4>Add new movie</h4>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="AddMovie">Add new movie</a>
    </div>
}
else
{
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">You do not have access to this resource</p>
}